:root {
    --resolution-blue: #132A86ff; /* text & outline colour */
    --marian-blue: #364482ff; /* shadow? colour */
    --ultra-violet: rgba(93, 102, 137, 0.437); /* inner box colour */
    --alabaster: #E8E9E3ff; /* bg colour */
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--alabaster);
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ultra-violet);
    color: white;
    border-bottom: 3px solid var(--resolution-blue);
    
}

.headName {
    font-size: 1.5rem;
    font-weight: bold;
    margin: .5rem;
    color: var(--resolution-blue);
}

.navbar-links {
    height: 100%;
    
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    border-left: 3px solid var(--resolution-blue);
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--resolution-blue);
    padding: 1rem;
}

.navbar-links li a:hover {
    background-color: var(--marian-blue);
    color: var(--alabaster);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--resolution-blue);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        border: 3px solid var(--resolution-blue);
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
