:root {
    --resolution-blue: #132A86ff; /* text & outline colour */
    --marian-blue: #364482ff; /* shadow? colour */
    --ultra-violet: rgba(93, 102, 137, 0.437); /* inner box colour */
    --alabaster: #E8E9E3ff; /* bg colour */
}
* {
    box-sizing: border-box;
    /* outline: 1px dashed red ; */
  
}

h1, h2, h3, p {
    margin: 0;
    display: flex;
    color: var(--resolution-blue);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--alabaster);
    
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ultra-violet);
    color: white;
    border-bottom: 3px solid var(--resolution-blue);
   
}

.headName {
    font-size: 1rem;
    font-weight: bold;
    margin: .5rem;
    color: var(--resolution-blue);
    margin-left: 1rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
   
}



.navbar-links li {
    list-style: none;
   
    
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--resolution-blue);
    padding: 1rem;
    
}

.navbar-links li a:hover {
    background-color: var(--marian-blue);
    color: var(--alabaster);
}

.toggle-button {
    position: absolute;
    top: .4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--resolution-blue);
    border-radius: 10px;
}
/* nav bar END*/

section {
    width: 100%;
    height: 60vh;
    border-bottom: 3px solid var(--resolution-blue);
    /* padding-left: 5rem;
    padding-right: 5rem; */
    display: flex;

}

.introBox  {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: 80px;
   margin: auto;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.introBox h1 {
    font-size: 2.70rem;
    
}


.introImg{
    width: 100%;
    height: 100%;
    background-image: url("./images/Profile-PicBlue.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: var(--resolution-blue) 3px solid;
    box-shadow: 10px 10px var(--resolution-blue);
}


/* .rightSideBox {
    width: 20rem;
    height: 20rem;
    background-color: black;
    margin: auto;
} */

.btn {
    margin-top: 10px;
    width: 90px;
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--resolution-blue);
    background-color: var(--ultra-violet);
    border: 2px solid var(--resolution-blue);
    box-shadow: 3px 3px var(--resolution-blue);
    
}

.btn:hover {
    background-color: var(--marian-blue);
    color: var(--alabaster);
    box-shadow: 0px 0px var(--resolution-blue)
}

article {
    width: 100%;
    height: 60vh;
    /* padding-top: 5%;
    padding-bottom: 5%; */
    display: flex;
    flex-direction: row;
    background-color: var(--ultra-violet);
   
    align-items: center;
    justify-content: center;
    gap: 5rem;
}


.projectBoxes {
    /* margin: 20px; */
    width: 20rem;
    height: 20rem;
    background-color: var(--alabaster);
    border: 3px solid var(--resolution-blue);
    box-shadow: 10px 10px var(--resolution-blue);
   
}

.proBoxHeading {
    width: 100%;
    height: 30px;
    background-color: var(--ultra-violet);
    border-bottom: 3px solid var(--resolution-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.proBoxHeading p {
    font-size: 12px;
    margin-right: 12rem;
  
}

.decoWrapper{
    display: flex;
    gap: 5px;
}

.decoCircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--resolution-blue);
    background-color: var(--alabaster);
    box-shadow: 1px 1px var(--resolution-blue);
    margin: 1%;
}

.imgBoxCap{
    width: 313px;
    height: 152px;
    /* background-image: url("./images/LogIn.png"); */
    background-image: url("./images/capLogo.png");
    background-color: lavender;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

.imgBoxIsakaied{
    width: 313px;
    height: 152px;
    background-image: url("./images/Animehome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imgBoxCal{
    width: 313px;
    height: 152px;
    background-image: url("./images/Calculator.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.projectTxt{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.projectTxt h5, p {
    margin: 0;
    color: var(--resolution-blue);
}
.projectTxt p {
    font-size: 12px;
    margin-top: 1rem;
}

.projectBtn{
    margin-top: 10px;
    width: 80px;
    height: 27px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--resolution-blue);
    background-color: var(--ultra-violet);
    border: 2px solid var(--resolution-blue);
    /* box-shadow: 3px 3px var(--resolution-blue); */
    float: right;
    margin-right: 1rem;
}

.projectBtn:hover {
    background-color: var(--marian-blue);
    color: var(--alabaster);
    cursor: pointer;
    }

footer {
    width: auto;
    background-color: var(--resolution-blue);
    padding: 3rem;
    padding-bottom: 0.5rem;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


h4{
    margin: 0;
    color: var(--alabaster);
}

.socialWrapper{
    display: flex;
    gap: 1rem;
}
.socialIcon{
    
    width: 30px;
    height: 30px;

}

.copyright {
    color: var(--alabaster);
    font-size: 12px;
    justify-content: center;
    margin-top: 3rem;


}


/* ----------------------------------------------------------*/
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        border: 3px solid var(--resolution-blue);
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    /* nav bar END*/

    section {
        display: flex;
        flex-direction: column;
    }

    .introBox {
        padding: 30px;
        width: 65%;
    }

    .introBox h1, h2  {
        font-size: 1.70rem;
        /* width: 50vw; */
       
        
    }
    .introBox p {
        font-size: .80rem;
        /* width: 50vw; */
    
    }
    
    article {
        flex-direction: column;
        width: auto;
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    /* .projectBoxes {
        width: 50vw;
        height: 45vh;
    } */

    .proBoxHeading p {
        font-size: .75rem;
        align-items: center;
    }
}

