.aboutBox{
    width: 100%;
    height: 100vh;
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    background-color: var( --alabaster);

  display: flex;
  /* flex-direction: row; */
}

.abtTxtImgBox{
    width: 80%;
    height: 100%;
    display: flex;
    background-color: aquamarine;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.aboutSkillBox{
    width: 60%;
    height: 100%;
    background-color:yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutImgWrapper{
    width: 90%;
    height: 40%;
    /* margin: 0 auto; */
}

.aboutImg{
    background-position-y: -17rem;
}

.aboutTxtBox{
    width: 60%;
    height: 35%;
    background-color: aqua;
    /* margin-left: 3%; */
    margin-top: 5%;
}

.skillBox{
    width: 70%;
    height: 75%;
    background-color: rgb(255, 0, 144);
   display: grid;
   grid-template-columns: 1fr 1fr ;
   gap: .10rem;
   justify-items: center; 
   align-items: center;
   
}

.iconwrapper p{
    margin: 0;
    font-size: 12px;
    color: var(--resolution-blue);
    justify-content: center;
    margin-top: .5rem;
}

.icons{
    width: 5rem;
    height: 6rem;
    border: var(--resolution-blue) 3px solid;
    box-shadow: 10px 10px var(--resolution-blue);
}

@media (max-width: 800px) {
    .aboutImg{
        background-position-y: -10rem;
    }

 .aboutBox{
    flex-direction: column;
 }

 .aboutSkillBox{
    width: 100%;
    height: 40%;

 }

 .skillBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
 }

.icons{
    width: 4rem;
    height: 5rem;
    
}

 .abtTxtImgBox{
    width: 100%;
    align-items: center;
 }
}